<% content_for :title, "#{format_user(Current.user)} / Twitter Clone" %>

<main class="page__content">
  <header class="content-header">
    <h1 class="txt--xl flush">New following</h1>
  </header>

  <section class="content-body">
    <% if @relationship.errors.any? %>
      <ul class="list--flush push-md">
        <% @relationship.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with(url: relationships_path, local: true) do |form| %>
      <%= form.text_field :username, class: "input", required: true, autofocus: true, autocomplete: :off, placeholder: "Username" %>
      <%= form.submit "Follow user", class: "btn btn--secondary" %>
    <% end %>
  <section>
</main>
