<% content_for :title, "Home / Twitter Clone" %>

<main class="page__content">
  <header class="content-header">
    <h1 class="txt--xl flush">Home</h1>
  </header>

  <section class="content-body">
    <%= render @page.records %>
    <%= link_to "Next page", tweets_path(page: @page.next_param), class: "btn btn--secondary" unless @page.last? %>
  <section>
</main>
