@import "sass-zero/variables";

.btn {
  &--active {
    color: var(--color-primary);
  }

  &--with-icon {
    padding-left: $size-8;
    background-position: $size-2;
    background-repeat: no-repeat;
    background-size: auto $size-5;
  }

  &--logo-icon {
    background-image: image-url("icons/logo.svg");
  }

  &--home-icon {
    background-image: image-url("icons/home.svg");
  }

  &--profile-icon {
    background-image: image-url("icons/profile.svg");
  }

  &--more-icon {
    background-image: image-url("icons/more.svg");
  }
}
