@import "sass-zero/variables";

.page {
  display: grid;
  grid-template-columns: $grid-cols-12;
  min-height: $min-h-screen;

  &__left {
    grid-column: $col-span-3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    overflow: hidden;
    padding: $size-2 $size-1;
    height: $size-full;
    width: 95px;

    text-align: right;
  }

  &__menu-text {
    display: none;
  }

  &__content {
    grid-column: $col-span-9;
    border-width: $border-0 $border;
  }
}

@media (min-width: $breakpoint-lg) {
  .page {
    &__left-container {
      padding: $size-2 $size-3;
      text-align: left;
      width: 250px;
    }

    &__content {
      grid-column: $col-span-5;
      border-width: $border-0 $border;
      border-color: $gray-200;
    }

    &__menu-text {
      display: inline;
    }
  }
}
